ADF/pipeline/Checking variable type and assigning value.json
{
	"name": "Checking variable type and assigning value",
	"properties": {
		"activities": [
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set var type",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('var_type'),'String')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set array",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "arrayVal",
								"value": {
									"value": "@array(1)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "Set array",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "arrayVal",
								"value": "2"
							}
						},
						{
							"name": "set_output",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Append variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "varfinal",
								"value": {
									"value": "@variables('arrayVal')",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set URL",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "URL",
								"value": "www.google.com"
							}
						},
						{
							"name": "output_var_set",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set URL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "finalVar",
								"value": {
									"value": "@variables('URL')",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Set var type",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "var_type",
					"value": "String"
				}
			}
		],
		"variables": {
			"var_type": {
				"type": "String"
			},
			"URL": {
				"type": "String"
			},
			"arrayVal": {
				"type": "Array"
			},
			"finalVar": {
				"type": "String"
			},
			"varfinal": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-02-07T16:43:45Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}