ADF/pipeline/Data_Ingestion.json
{
	"name": "Data_Ingestion",
	"properties": {
		"activities": [
			{
				"name": "Landing_To_Bronze",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set entity_name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "GenericBronzeIngestion",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"entity": {
							"value": "@variables('entity_name')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Check Ingestion Type",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "set ingestion_type",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('ingestion_type'),'SQL')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "File_To_Landing_ingestion",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "FileBasedIngestion",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"entity": {
										"value": "@pipeline().parameters.entity",
										"type": "Expression"
									},
									"load_type": {
										"value": "@pipeline().parameters.load_type",
										"type": "Expression"
									}
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "SQL_To_Landing",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "DataBaseIngestion",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"entity": {
										"value": "@pipeline().parameters.entity",
										"type": "Expression"
									},
									"load_type": {
										"value": "@pipeline().parameters.load_type",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Landing_To_Silver",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Landing_To_Bronze",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "GenericSilverIngestion",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"entity": {
							"value": "@variables('entity_name')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "set ingestion_type",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ingestion_type",
					"value": {
						"value": "@if(endswith(pipeline().parameters.entity,'products'),'File','SQL')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Landing_To_Gold",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Landing_To_Silver",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "GenericGoldIngestion",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"entity": {
							"value": "@pipeline().parameters.entity",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set entity_name",
				"description": "",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Check Ingestion Type",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "entity_name",
					"value": {
						"value": "@if(startswith(pipeline().parameters.load_type,'incremental'),\n    concat(pipeline().parameters.entity,'_incremental'),pipeline().parameters.entity)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"entity": {
				"type": "string"
			},
			"load_type": {
				"type": "string",
				"defaultValue": "incremental"
			}
		},
		"variables": {
			"delimiter": {
				"type": "String"
			},
			"ingestion_type": {
				"type": "String"
			},
			"entity_name": {
				"type": "String"
			}
		},
		"annotations": []
	}
}