ADF/pipeline/FileBasedIngestion.json
{
	"name": "FileBasedIngestion",
	"properties": {
		"activities": [
			{
				"name": "start_file_landing_details",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[InsertPipelineRunDetail]",
					"storedProcedureParameters": {
						"entityName": {
							"value": {
								"value": "@pipeline().parameters.entity",
								"type": "Expression"
							},
							"type": "String"
						},
						"errorMessage": {
							"value": null,
							"type": "String"
						},
						"loadType": {
							"value": "Full Load",
							"type": "String"
						},
						"pipelineId": {
							"value": {
								"value": "@pipeline()?.TriggeredByPipelineRunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"runEndTime": {
							"value": null,
							"type": "DateTime"
						},
						"runStage": {
							"value": "Copy_File_to_landing",
							"type": "String"
						},
						"runStartTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"runStatus": {
							"value": "Copy File To Landing Started",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "End_File_Landing_details",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CopyFileSourceToLanding",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[UpdatePipelineRunDetail]",
					"storedProcedureParameters": {
						"errorMessage": {
							"value": null,
							"type": "String"
						},
						"pipelineId": {
							"value": {
								"value": "@pipeline()?.TriggeredByPipelineRunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"runEndTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"runStatus": {
							"value": "Copy File To Landing Completed",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "End_File_Landing_details_failed",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CopyFileSourceToLanding",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[UpdatePipelineRunDetail]",
					"storedProcedureParameters": {
						"errorMessage": {
							"value": {
								"value": "@activity('CopyFileSourceToLanding').output.errors",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineId": {
							"value": {
								"value": "@pipeline()?.TriggeredByPipelineRunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"runEndTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"runStatus": {
							"value": "Copy File To Landing Failed",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "CopyFileSourceToLanding",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set Delimiter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "@pipeline().parameters.entity",
								"type": "Expression"
							},
							"wildcardFileName": "*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "FileSource_CSV_Dataset",
						"type": "DatasetReference",
						"parameters": {
							"entity_name": {
								"value": "@pipeline().parameters.entity",
								"type": "Expression"
							},
							"delimiter": {
								"value": "@variables('delimiter')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "LandingDataset_Parquet",
						"type": "DatasetReference",
						"parameters": {
							"entity_name": {
								"value": "@pipeline().parameters.entity",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set Delimiter",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "start_file_landing_details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "delimiter",
					"value": {
						"value": "@if(equals(pipeline().parameters.entity,'Celeste_Products'),';',',')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"entity": {
				"type": "string"
			}
		},
		"variables": {
			"delimiter": {
				"type": "String"
			}
		},
		"annotations": []
	}
}