ADF/pipeline/GenericBronzeIngestion.json
{
	"name": "GenericBronzeIngestion",
	"properties": {
		"activities": [
			{
				"name": "start_bronze_details",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[InsertPipelineRunDetail]",
					"storedProcedureParameters": {
						"entityName": {
							"value": {
								"value": "@pipeline().parameters.entity",
								"type": "Expression"
							},
							"type": "String"
						},
						"errorMessage": {
							"value": null,
							"type": "String"
						},
						"loadType": {
							"value": "Full Load",
							"type": "String"
						},
						"pipelineId": {
							"value": {
								"value": "@pipeline()?.TriggeredByPipelineRunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"runEndTime": {
							"value": null,
							"type": "DateTime"
						},
						"runStage": {
							"value": "Bronze",
							"type": "String"
						},
						"runStartTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"runStatus": {
							"value": "Bronze Started",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "LoadBronze",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "start_bronze_details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/mithileshadf@outlook.com/Azure_ADF/DE_Project/Databricks_Scripts/Bronze_Ingestion",
					"baseParameters": {
						"entity_name": {
							"value": "@pipeline().parameters.entity",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "End_Bronze_details",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "LoadBronze",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[UpdatePipelineRunDetail]",
					"storedProcedureParameters": {
						"errorMessage": {
							"value": null,
							"type": "String"
						},
						"pipelineId": {
							"value": {
								"value": "@pipeline()?.TriggeredByPipelineRunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"runEndTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"runStatus": {
							"value": "Bronze Completed",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "End_Bronze_details_failed",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "LoadBronze",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[UpdatePipelineRunDetail]",
					"storedProcedureParameters": {
						"errorMessage": {
							"value": {
								"value": "@activity('LoadBronze').output.errors[0].message",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineId": {
							"value": {
								"value": "@pipeline()?.TriggeredByPipelineRunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"runEndTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"runStatus": {
							"value": "Bronze Failed",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"entity": {
				"type": "string"
			}
		},
		"folder": {
			"name": "LayeredIngestion"
		},
		"annotations": []
	}
}