ADF/pipeline/GenericSilverIngestion.json
{
	"name": "GenericSilverIngestion",
	"properties": {
		"activities": [
			{
				"name": "start_silver_details",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[InsertPipelineRunDetail]",
					"storedProcedureParameters": {
						"entityName": {
							"value": {
								"value": "@pipeline().parameters.entity",
								"type": "Expression"
							},
							"type": "String"
						},
						"errorMessage": {
							"value": null,
							"type": "String"
						},
						"loadType": {
							"value": "Full Load",
							"type": "String"
						},
						"pipelineId": {
							"value": {
								"value": "@pipeline()?.TriggeredByPipelineRunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"runEndTime": {
							"value": null,
							"type": "DateTime"
						},
						"runStage": {
							"value": "Silver",
							"type": "String"
						},
						"runStartTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"runStatus": {
							"value": "Silver Started",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "LoadSilver",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "start_silver_details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/mithileshadf@outlook.com/Azure_ADF/DE_Project/Databricks_Scripts/Silver_Ingestion",
					"baseParameters": {
						"entity_name": {
							"value": "@pipeline().parameters.entity",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "End_Silver_details",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "LoadSilver",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[UpdatePipelineRunDetail]",
					"storedProcedureParameters": {
						"errorMessage": {
							"value": null,
							"type": "String"
						},
						"pipelineId": {
							"value": {
								"value": "@pipeline()?.TriggeredByPipelineRunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"runEndTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"runStatus": {
							"value": "Silver Completed",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "End_Silver_details_failed",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "LoadSilver",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[UpdatePipelineRunDetail]",
					"storedProcedureParameters": {
						"errorMessage": {
							"value": {
								"value": "@activity('LoadSilver').output.error",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineId": {
							"value": {
								"value": "@pipeline()?.TriggeredByPipelineRunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"runEndTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"runStatus": {
							"value": "Silver Failed",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"entity": {
				"type": "string"
			}
		},
		"variables": {
			"testvar": {
				"type": "String"
			},
			"entity_filter_query": {
				"type": "String"
			},
			"query": {
				"type": "String"
			},
			"delimiter": {
				"type": "String"
			}
		},
		"annotations": []
	}
}